<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SampleMVCProject.View.Properties.Settings.DummyDatabaseConnectionString"
            connectionString="Data Source=NB-PGEORGIEV;Initial Catalog=DummyDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SampleMVCProject.View.Properties.Settings.TestConnectionString"
            connectionString="Data Source=NB-PGEORGIEV;Initial Catalog=TestDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>